Assigment6/App_WebReferences/Assigment6/Assignment5Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Assignment5Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3516/Assignment5Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3516/Assignment5Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3516/Assignment5Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssignment5Service_PersonLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonLogin" />
  </wsdl:message>
  <wsdl:message name="IAssignment5Service_PersonLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment5Service_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAssignment5Service_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment5Service_newGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:newGrant" />
  </wsdl:message>
  <wsdl:message name="IAssignment5Service_newGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:newGrantResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignment5Service_GetGrantsRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrantsRequest" />
  </wsdl:message>
  <wsdl:message name="IAssignment5Service_GetGrantsRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrantsRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssignment5Service">
    <wsdl:operation name="PersonLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment5Service/PersonLogin" message="tns:IAssignment5Service_PersonLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment5Service/PersonLoginResponse" message="tns:IAssignment5Service_PersonLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment5Service/Register" message="tns:IAssignment5Service_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment5Service/RegisterResponse" message="tns:IAssignment5Service_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment5Service/newGrant" message="tns:IAssignment5Service_newGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment5Service/newGrantResponse" message="tns:IAssignment5Service_newGrant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrantsRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignment5Service/GetGrantsRequest" message="tns:IAssignment5Service_GetGrantsRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignment5Service/GetGrantsRequestResponse" message="tns:IAssignment5Service_GetGrantsRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssignment5Service" type="tns:IAssignment5Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PersonLogin">
      <soap:operation soapAction="http://tempuri.org/IAssignment5Service/PersonLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IAssignment5Service/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newGrant">
      <soap:operation soapAction="http://tempuri.org/IAssignment5Service/newGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrantsRequest">
      <soap:operation soapAction="http://tempuri.org/IAssignment5Service/GetGrantsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Assignment5Service">
    <wsdl:port name="BasicHttpBinding_IAssignment5Service" binding="tns:BasicHttpBinding_IAssignment5Service">
      <soap:address location="http://localhost:3516/Assignment5Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>